[submodule "SoundFlow"]
	path = SoundFlow
	url = https://github.com/jnccd/SoundFlow
[submodule "MusicPlayerSyncInterface"]
	path = MusicPlayerSyncInterface
	url = https://github.com/jnccd/music-player-sync-interface
[submodule "EzAuth"]
	path = EzAuth
	url = https://github.com/jnccd/ez-auth
[submodule "Tmds.DBus"]
	path = Tmds.DBus
	url = git@github.com:jnccd/Tmds.DBus.git
	branch = 0.94.1v2
